@model IEnumerable<WebWeather.Models.SelectedCityViewModel>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <p align="center">
        @Html.ActionLink("Add New", "Create", null, new { @class = "link" })
    </p>
    <table  align="center" class="blueTable">
        <tr>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
               @item.Name &emsp;
            </td>
            <td>
                    <a href="~/SelectedCities/Edit/@item.Id" class="link"> <span class="glyphicon glyphicon-pencil"></span></a>
                    <a href="~/SelectedCities/Delete/@item.Id" class="link"> <span class="glyphicon glyphicon-trash"></span></a>
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
