body
{
	font-family: helvetica, sans-serif;
	font-size: small;
    font-variant: small-caps;
}

button {
  display: inline-block;
  width: 60px;
  height: 30px;
  line-height: 30px;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 100px;
  box-shadow: inset rgba(0,0,0,.6) 0 -2px 5px, inset rgba(252,255,255,.7) 0 2px 5px, rgba(0,0,0,.8) 0 2px 5px -1px;
  user-select: none;
} 
button:hover {
  color: rgb(0,59,66);
  cursor: pointer;
}
button:active {
  padding-bottom: 1px;
  box-shadow:
   inset rgba(0,0,0,1) 0 1px 3px,
   inset rgba(0,0,0,.6) 0 -2px 5px,
   inset rgba(252,255,255,.7) 0 2px 5px,
   0 1px rgba(255,255,255,.08);
  color: rgb(128,207,214);
}
h4
{
font-family: helvetica, sans-serif;
font-size: 16px;
font-variant: small-caps;
word-spacing: 1.4pt;

}

a:link	{
	text-decoration: none;
	color: #6699CC; }
a:visited	{
	text-decoration: none;
	color: #336699; }
a:active	{
	text-decoration: underline;
	color: #ff0000; }
a:hover	{
	text-decoration: underline;
	color: #ff0000; }
